html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

// #__next
body > div {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  flex-basis: 220px;
  padding: 16px;
  border-right: 1px dashed gainsboro;
}

.main {
  padding: 16px;
}
